<div class="text">

<h2>

A <span>smart</span> journal for the 21st century

</h2>
</div>


<style>

  h2 {
    font-family: 'baskerville';
    text-align: center;
    font-weight:300;
    letter-spacing: 1.5px;
    font-style:italic;
    font-size: 48px;
    word-spacing: 10px;

  }

  span {
    font-family: 'Avenir';
    font-style: normal;
    text-decoration: underline;
  }

</style>
