<<<<<<< HEAD
<% if (typeof currentUser === 'object') { %>
  <% include user-views/dashboard %>
<% } else { %>
  <h3>Please log in</h3>
<% } %>
=======
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
>>>>>>> 83780cedf878f493d4ffb9586359f96ee9413c7c
