body {
  background:#fff;
  overflow: visible;
  height:auto;
}

input::placeholder {
  background: linear-gradient(0deg, #0B80BF 0%, #07557F 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

textarea {
  border: 3px solid #0B80BF;
}
