<section class="dashboard-section">
  <h2>Welcome <strong><%= currentUser.firstName %></strong>!</h2>
    <form action="/analysis" method="post">
      <label for="journal-input"></label>
      <textarea name="userEntry" id="journal-input"
      placeholder="How was your day?" onfocus="placeholder=''" onblur="placeholder='How was you day?'"></textarea>
      <button>
        <i class="fa fa-plus" aria-hidden="true"></i>
      </button>
    </form>
    <canvas id="userChart" width="400" height="400"></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <script src="javascripts/user-chart.js"></script>
</section>
