<h2>Login</h2>

<form method="post" action="/login" id="form">
  <label for="email-input">Email</label>
  <input id="email-input" type="text" name="email" />
  <br />
  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" />
  <br /><br />
  <button>Login</button>
</form>
